{% extends 'base.html' %} {% block content %}
<div class="container-fluid d-flex p-0">
	<div class="col-6 col-md-4 px-2">
		<div class="card mx-0">
			<div class="card-header border-0">
				<h3 class="card-title">Thêm tin nhắn</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool btn-sm" data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<form action="/addContent" method="post" name="addMSGForm" id="addMSGForm">
					<div class="form-group">
						<label for="addSpeaker">Nhập Clone gửi tin:</label>
						<input type="text" class="form-control" name="addSpeaker" id="addSpeaker" aria-describedby="helpId" placeholder="Clone dưới dạng số. VD: 1,2,3" />
						<small id="helpId" class="form-text text-muted"></small>
					</div>
					<div class="form-group">
						<label for="addGroupID">Nhập ID nhóm cần gửi:</label>
						<input type="text" class="form-control" name="addGroupID" id="addGroupID" aria-describedby="helpId" placeholder="ID Nhóm. VD: -1001234567890" />
						<small id="helpId" class="form-text text-muted"></small>
					</div>
					<div class="form-group">
						<label for="addMessage">Nhập tin nhắn:</label>
						<textarea class="form-control" name="addMessage" id="addMessage" rows="3" placeholder="Nhập nội dung tin nhắn"></textarea>
					</div>
					<div class="form-group">
						<label for="addDelay">Nhập thời gian trễ (giây):</label>
						<input type="" class="form-control" name="addDelay" id="addDelay" aria-describedby="helpId" placeholder="Thời gian dừng giữa hai tin (nên lớn hơn 10)" />
						<small id="helpId" class="form-text text-muted"></small>
					</div>
					<button type="submit" class="btn btn-primary">Thêm tin nhắn</button>
				</form>
			</div>
		</div>
		<!--  -->
		<div class="card mx-0">
			<div class="card-header border-0">
				<h3 class="card-title">Thêm tin nhắn với file</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool btn-sm" data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<form action="/uploadContentFile" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="contentfile">Chọn 'dialog.xlsx' file:</label>
						<input type="file" class="form-control-file" name="contentfile" id="contentfile" placeholder="Browse" aria-describedby="fileHelpId" accept=".xls, .xlsx, .csv" />
						<small id="fileHelpId" class="form-text text-muted"></small>
					</div>
					<button type="submit" class="btn btn-primary">Thêm tin nhắn</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-6 col-md-8 px-2">
		<div class="card mx-0">
			<div class="card-header border-0">
				<h3 class="card-title">Tin nhắn</h3>
				<div class="card-tools">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#dlAllMessage"><i class="fa fa-trash-o" aria-hidden="true"></i> Xoá toàn bộ</button>

					<!-- Modal -->
					<div class="modal fade" id="dlAllMessage" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Xoá toàn bộ tin nhắn?</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Tất cả tin nhắn sẽ bị xoá và không thể phục hồi hành động này.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
									<a name="dlAllContentBtn" id="dlAllContentBtn" class="btn btn-danger" href="/deleteAllContent" role="button">Xoá</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body table-responsive p-0">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>Clone</th>
							<th>Group ID</th>
							<th>Tin nhắn</th>
							<th>Trễ</th>
							<th>Sửa</th>
						</tr>
					</thead>
					<tbody>
						{% for msg in dialog %}
						<tr>
							<td>{{ msg.user_id }}</td>
							<td>{{ msg.group_id }}</td>
							<td>{{ msg.content }}</td>
							<td>{{ msg.delay }} s</td>
							<td>
								<!-- Edit modal -->
								<a type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editMessage{{msg.id}}">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</a>
								<div class="modal fade" id="editMessage{{msg.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Chỉnh sửa tin nhắn.</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<form action="/editMessage/{{msg.id}}" method="post" name="editMSGForm" id="editMSGForm{{msg.id}}">
													<div class="form-group">
														<label for="editSpeaker{{msg.id}}">Nhập Clone gửi tin:</label>
														<input type="text" class="form-control" name="editSpeaker{{msg.id}}" id="editSpeaker{{msg.id}}" aria-describedby="helpId" value="{{msg.user_id}}" />
														<small id="helpId" class="form-text text-muted"></small>
													</div>
													<div class="form-group">
														<label for="editGroupID{{msg.id}}">Nhập ID nhóm cần gửi:</label>
														<input type="text" class="form-control" name="editGroupID{{msg.id}}" id="editGroupID{{msg.id}}" aria-describedby="helpId" value="{{msg.group_id}}" />
														<small id="helpId" class="form-text text-muted"></small>
													</div>
													<div class="form-group">
														<label for="editMessage{{msg.id}}">Nhập tin nhắn:</label>
														<input type="text" class="form-control" name="editMessage{{msg.id}}" id="editMessage{{msg.id}}" aria-describedby="helpId" value="{{msg.content}}" />
														<small id="helpId" class="form-text text-muted"></small>
													</div>
													<div class="form-group">
														<label for="editDelay{{msg.id}}">Nhập thời gian trễ:</label>
														<input type="text" class="form-control" name="editDelay{{msg.id}}" id="editDelay{{msg.id}}" aria-describedby="helpId" value="{{msg.delay}}" />
														<small id="helpId" class="form-text text-muted"></small>
													</div>
													<button type="submit" class="btn btn-primary">Lưu thay đổi</button>
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!-- Delete modal -->
								<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#dlMessage{{msg.id}}">
									<i class="fa fa-trash-o" aria-hidden="true"></i>
								</button>
								<div class="modal fade" id="dlMessage{{msg.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Xoá tin nhắn này?</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<p>Tin nhắn "{{msg.content[:50]}}" sẽ bị xoá và không thể phục hồi hành động này. Bạn có chắc muốn xoá không?</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
												<a name="dlMessage" id="dlMessage{{msg.id}}" class="btn btn-danger" href="/deleteMessage/{{msg.id}}" role="button">Xoá</a>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock content %} {% block script %}
<script src="{{url_for('static', filename = 'js/dialog.js') }}"></script>
{% endblock script %}
